<div class="container">
    <h1>Detalhes de Receita</h1>
    <div class="card">
        <div class="card-header">
            <strong>{{titulo}}</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                Tipo: {{tipo}}<br>
                Rendimento: {{rendimento}} porções<br>
                Tempo Preparo: {{tempo_preparo}} minutos<br>
                Ingredientes: {{ingredientes}}.<br>
                Modo Preparo: {{modo_preparo}}.
            </p>
            <p *ngIf="publica == false">
                <a href="/detalhes/{{id}}" class="btn btn-primary" (click)='publish()'>Publicar</a>
            </p>
        </div>
    </div>
</div>
